# ---- Secrets / credenciales ----
.env
.env.*
!.env.example
*.pem
*.key

# ---- SO ----
.DS_Store
Thumbs.db

# ---- IDE ----
.idea/
.vscode/

# ---- Dependencias / builds ----
node_modules/
__pycache__/
venv/
.venv/
